.content{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 20%;
    padding: 0 15px;
}
.main{
    display: flex;
}
.btnCart{
    background: transparent;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2px;
}
.btnCart:hover{
    background: darkgray;
    color: #fff;
}